.container {
	width: 100vw;
	height: 100vh;

	& > img {
		width: 100vw;
		height: 100vh;

		object-fit: cover;
	}
}

.scoreBug {
	height: 130px;
	/*width: 920px;*/
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(12.5px);

	padding: 7px;

	display: flex;
	gap: 20px;
	/*justify-content: space-between;*/

	& p {
		color: white;
		font-family: Inter;
		font-size: 55px;
		font-weight: 600;
		line-height: normal;

		display: flex;
		align-items: center;
	}

	& img {
		object-fit: cover;
	}
}

.team {
	height: 100%;
	width: 20px;

	box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.4);
}

.teamLeft {
	border-radius: 16px 5px 5px 16px;
}

.teamRight {
	border-radius: 5px 16px 16px 5px;
}

.card {
	border-radius: 16px;
	background-color: rgba(217, 217, 217, 0.4);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
	padding: 7px;

	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;

	& > img {
		aspect-ratio: 1.3;
		height: 100%;
		border-radius: 12px;
	}

	&.time {
		flex-direction: column;

		& > p {
			line-height: 1;
		}

		& > p.time {
			font-size: 25px;
		}
	}
}
